@using _5051.Models
@model _5051.Models.StudentDisplayViewModel

@{

    ViewBag.Title = "Student Attendance";
}
<br />
<h2>Welcome to your Attendance History</h2>
<br />

@{
    <br />
    <h4>Current Status: <span id="statusValue">@Model.Status</span></h4>
    if (!Model.Attendance.Any())
    {
        //skip
    }else
    {
        <h4>You last logged in at: <span id="lastLoginValue">@Model.LastLogIn.ToString("f")</span></h4>

        <h4>Emotion State: <span id="currentEmotionValue"><img src="~/Content/img/@Model.EmotionImgUri" alt="Emotion happy icon" class="AvatarSize0" /></span></h4>
    }
}
<hr />
<div class="row w-100 text-center">

    @{
        foreach (var item in Model.Attendance)
        {
            <div class="col-sm-4 col-md-2">
                <div class="BoxWithHighlightHover bg-white" style="border:solid 1px; margin-bottom: 5px; padding: 5px">
                    @item.In.ToShortDateString()<br />
                    <div class="row">
                        <div class="col-sm-6">
                            In<br />
                            @item.In.ToShortTimeString()<br />
                        </div>
                        @if (item != Model.Attendance.Last() || Model.Status != StudentStatusEnum.In)
                        {
                            <div class="col-sm-6">
                                Out<br />

                                @item.Out.ToShortTimeString()<br />
                            </div>
                        }
                    </div>

                    <div class="row text-center">
                        <div class="col">
                            @switch (@item.Emotion)
                            {
                                case EmotionStatusEnum.VeryHappy:
                                    <div class="badge badge-success w-75">
                                        Very Happy
                                    </div>
                                    break;
                                case EmotionStatusEnum.Happy:
                                    <div class="badge badge-warning w-75">
                                        Happy
                                    </div>
                                    break;
                                case EmotionStatusEnum.Neutral:
                                    <div class="badge badge-info w-75">
                                        Neutral
                                    </div>
                                    break;
                                case EmotionStatusEnum.Sad:
                                    <div class="badge badge-secondary w-75">
                                        Sad
                                    </div>
                                    break;
                                case EmotionStatusEnum.VerySad:
                                    <div class="badge badge-dark w-75">
                                        Very Sad
                                    </div>
                                    break;
                            }

                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>



<br /><br /><br />