@using _5051.Models;
@model _5051.Models.SelectedAvatarForStudentViewModel

@{
    ViewBag.Title = "My Avatar";
}
<br />
<br />
<div class="row">
    <div class="col-sm-2 text-center">
        <img src="~/Content/img/@Model.SelectedAvatar.Uri" id="currentAvatarImg" class="AvatarSize1" />
        <br />
        <div class="text-center">
            <span id="currentAvatarName">@Html.DisplayFor(m => m.SelectedAvatar.Name)</span>
            <br />
            <span id="currentAvatarLevel">
                @Html.DisplayNameFor(m => m.SelectedAvatar.Level) @Html.DisplayFor(m => m.SelectedAvatar.Level)
            </span>
            <br />
            <br />
        </div>
    </div>

    <div class="col-sm-2 text-center">
        <div class="text-center">


            <div class="AvatarBox" id="AvatarBox">
                <img class="AvatarItemBase AvatarHead" id="AvatarHead" src="~/content/avatar/Head1.png" />
                <img class="AvatarItemBase AvatarShirt" id="AvatarShirt" src="~/content/avatar/Shirt1.png" />
                <img class="AvatarItemBase AvatarAccessory" id="AvatarAccessory" src="~/content/avatar/Accessory1.png" />
                <img class="AvatarItemBase AvatarCheeks" id="AvatarCheeks" src="~/content/avatar/Cheeks1.png" />
                <img class="AvatarItemBase AvatarExpression" id="AvatarExpression" src="~/content/avatar/Expression1.png" />
                <img class="AvatarItemBase AvatarHair" id="AvatarHair" src="~/content/avatar/Hair2_long_red.png" />
                <img class="AvatarItemBase AvatarFront" id="AvatarFront" src="~/content/avatar/Hair1_straight_red.png" />
            </div>

            <br />
            <div class="text-center">
                <span id="currentAvatarName">@Html.DisplayFor(m => m.SelectedAvatar.Name)</span>
                <br />
                <span id="currentAvatarLevel">
                    @Html.DisplayNameFor(m => m.SelectedAvatar.Level) @Html.DisplayFor(m => m.SelectedAvatar.Level)
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <br />
    <h2>My Avatar</h2>
    <h4 id="remindOfLevel">
        You can change to any avatar at or below Level @Html.DisplayFor(m => m.Student.AvatarLevel)
    </h4>
    <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-2 text-center">
            <img src="~/Content/img/@Model.SelectedAvatar.Uri" id="currentAvatarImg" class="AvatarSize1" />
            <br />
            <div class="text-center">
                <span id="currentAvatarName">@Html.DisplayFor(m => m.SelectedAvatar.Name)</span>
                <br />
                <span id="currentAvatarLevel">
                    @Html.DisplayNameFor(m => m.SelectedAvatar.Level) @Html.DisplayFor(m => m.SelectedAvatar.Level)
                </span>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>

@{
    if (Model.AvatarList == null | !Model.AvatarList.Any())
    {
        <br />
        <h2>No Avatars Available to Select</h2>
    }
    else
    {
        <br />
        <h2>Avatars available to pick per Level.</h2>
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1">
                @{
                    ///Walk the SelectedAvatarViewModel.MaxLevel, and for each level lay out the Level, and the Avatars
                    for (var myList = 1; myList <= Model.MaxLevel; myList++)
                    {
                        var disabledOn = "";
                        var BoxHover = "BoxWithHighlightHover";
                        if (Model.Student.AvatarLevel < myList)
                        {
                            disabledOn = "disabled";
                            BoxHover = "";    //don't show the hover effect
                        }

                        <br />
                        <div class="row" @disabledOn>
                            @{
                                <h3>Level @myList</h3>

                                AvatarViewModel myAvatarLevelList = Model.AvatarLevelList.Where(m => m.ListLevel == myList).FirstOrDefault();

                                if (myAvatarLevelList == null || myAvatarLevelList.AvatarList == null || !myAvatarLevelList.AvatarList.Any())
                                {
                                    <p>No Avatars at this level</p>
                                }
                                else
                                {
                                    //AvatarViewModel outputAvatar = new AvatarViewModel();
                                    foreach (var outputAvatar in myAvatarLevelList.AvatarList)
                                    {
                                        using (Html.BeginForm())
                                        {
                                            //Send up the AvatarId, and the StudentId to associated the Avatar with.
                                            @Html.Hidden("StudentId", Model.Student.Id);
                                            @Html.Hidden("AvatarId", outputAvatar.Id);

                                            var picturURI = "/Content/img/" + outputAvatar.Uri;

                                            <div class="col-sm-2 text-center">
                                                <div class="@BoxHover">
                                                    <input type="image" name="submit" src="@picturURI" border="0" alt="@outputAvatar.Name" id="@outputAvatar.Id" class="AvatarSize1" @disabledOn />
                                                    <br />
                                                    <span class="text-center">
                                                        @outputAvatar.Name
                                                        <br />
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    }
}

