@model _5051.Models.StudentDisplayViewModel

@{

    ViewBag.Title = "Student Portal";
}
<br />
<div class="text-center bg-transparent pt-5">
    <h2>Welcome to your Student Portal</h2>
</div>
<div class="container lightTransparentBox">
    <div class="row">
        <div class="col-lg-4">
            <br />

            <h3 id="welcomeMessage">
                <span id="welcomeMessageStudentName">@Model.Name</span><br />
                <img src="~/Content/img/@Model.AvatarUri" alt="@Model.Name  avatar image" id="@Model.AvatarId" class="AvatarSize0" />

            </h3>
        </div>
        <div class="col-lg-4">
            <br />
            <h4>Lvl <span id="levelValue">@Model.AvatarLevel</span><br /> 
            <span id="xpValue">@Model.ExperiencePoints</span> XP</h4>
            <h4><span id="tokensValue">@Model.Tokens</span> Tokens</h4>
        </div>
        <div class="col-lg-4">
            @{
                <br />
                <h4>Current Status: <span id="statusValue">@Model.Status</span></h4>
                if (Model.Attendance == null || !Model.Attendance.Any())
                {
                    //skip
                }
                {
                    var LastLoginIn = Model.Attendance.OrderByDescending(m => m.In).FirstOrDefault();
                    if (LastLoginIn != null)
                    {
                        <h4>You last logged in at: <span id="lastLoginValue">@_5051.Backend.UTCConversionsBackend.UtcToKioskTime(LastLoginIn.In).ToShortDateString() @_5051.Backend.UTCConversionsBackend.UtcToKioskTime(LastLoginIn.In).ToShortTimeString()</span></h4>
                    }

                    <h4>Emotion State: <span id="currentEmotionValue">@Model.EmotionCurrent</span></h4>
                    <img src="~/Content/img/EmotionVeryHappy.png" alt="Emotion happy icon" class="AvatarSize0" />
                    <img src="~/Content/img/EmotionHappy.png" alt="Emotion happy icon" class="AvatarSize0" />
                    <img src="~/Content/img/EmotionNeutral.png" alt="Emotion happy icon" class="AvatarSize0" />
                    <img src="~/Content/img/EmotionSad.png" alt="Emotion happy icon" class="AvatarSize0" />
                    <img src="~/Content/img/EmotionVerySad.png" alt="Emotion happy icon" class="AvatarSize0" />
                }
            }
        </div>
        <br />
    </div>
        <hr />
        <div class="row text-center">
            <div class="col-sm-12">
                <div class="row text-center">

                    <div class="col-lg-2">
                        <div class="PortalBox">
                            <a href="~/Portal/Report/@Model.Id" id="reportsLinkPortalIndex">
                                <img src="~/Content/img/PortalViewReports.png" alt="Reports" class="PortalImage" />
                            </a>
                            <br />
                            <span>Reports</span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="PortalBox">
                            <a href="~/Portal/Attendance/@Model.Id" id="attendanceLinkPortalIndex">
                                <img src="~/Content/img/PortalViewAttendance.png" alt="Reports" class="PortalImage" />
                            </a>
                            <br />
                            <span>Attendance</span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="PortalBox">
                            <a href="~/Shop/Visit" id="visitLinkPortalIndex">
                                <img src="~/Content/img/PortalVisitHome.png" alt="Visit" class="PortalImage" />
                            </a>
                            <br />
                            <span>Visit</span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="PortalBox">
                            <a href="~/Shop/Index/@Model.Id" id="shopLinkPortalIndex">
                                <img src="~/Content/img/PortalViewShop.png" alt="Store" class="PortalImage" />
                            </a>
                            <br />
                            <span>Store</span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="PortalBox">
                            <a href="~/Portal/Settings/@Model.Id" id="settingsLinkPortalIndex">
                                <img src="~/Content/img/@Model.AvatarUri" alt="Customize" class="PortalImage" />
                            </a>
                            <br />
                            <span>Customize</span>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="PortalBox">
                            <a href="~/Portal/Avatar/@Model.Id" id="avatarLinkPortalIndex">
                                <img src="~/Content/img/PortalCustomizeAvatar.png" alt="Choose Avatars" class="PortalImage" />
                            </a>
                            <br />
                            <span>Avatars</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>