
@{
    ViewBag.Title = "Student Portal";
}

<h2>Welcome to my Student Portal</h2>


@Html.ActionLink("My Information", "Profile", "Portal", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("My Reports", "Report", "Portal", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("My House", "House", "Portal", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("My Avatar", "Avatar", "Portal", null, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Shop", "Index", "Shop", null, new { @class = "btn btn-primary" })

