@model _5051.Models.StudentDisplayViewModel

@{

    ViewBag.Title = "Student Portal";
}
<br />
<div class="text-center bg-transparent pt-5">
    <h2>Welcome to your Student Portal</h2>
    <br />
</div>

<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">

        <div class="row justify-content-center">

            <div class="col-sm-1"></div>

            <div class="col-sm justify-content-center">
                <br />
                <div class="col-sm text-center">
                    <div class="row justify-content-center">
                        <div id="text-center">
                            <span class="FontSizeLarge FontColorBlack">@Model.Name</span><br />
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="AvatarBox align-self-sm-center" id="AvatarBox">
                            <div class="AvatarCircle"></div>
                            <img class="AvatarItemBase AvatarHairBack" id="AvatarHairBack" src="@Model.AvatarComposite.AvatarHairBackUri" />
                            <img class="AvatarItemBase AvatarHead" id="AvatarHead" src="@Model.AvatarComposite.AvatarHeadUri" />
                            <img class="AvatarItemBase AvatarShirt" id="AvatarShirt" src="@Model.AvatarComposite.AvatarShirtUri" />
                            <img class="AvatarItemBase AvatarExpression" id="AvatarExpression" src="@Model.AvatarComposite.AvatarExpressionUri" />
                            <img class="AvatarItemBase AvatarCheeks" id="AvatarCheeks" src="@Model.AvatarComposite.AvatarCheeksUri" />
                            <img class="AvatarItemBase AvatarHairFront" id="AvatarHairFront" src="@Model.AvatarComposite.AvatarHairFrontUri" />
                            <img class="AvatarItemBase AvatarAccessory" id="AvatarAccessory" src="@Model.AvatarComposite.AvatarAccessoryUri" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm text-center">
                <br />
                <div class="FontSizeMedium">
                    Lvl <span id="levelValue">@Model.AvatarLevel</span><br />
                    <span id="xpValue">@Model.ExperiencePoints</span> XP<br />
                    <span id="tokensValue">@Model.Tokens</span> Tokens<br />
                </div>
            </div>

            <div class="col-sm text-center">
                <br />
                <div class="FontSizeMedium">
                    Current Status: <span id="statusValue">@Model.Status</span>
                </div>

                @{
                    if (Model.Attendance.Any())
                    {
                        <div class="FontSizeMedium">
                            Emotion State: <span id="currentEmotionValue"><img src="~/Content/img/@Model.EmotionImgUri" alt="Emotion happy icon" class="AvatarSize0" /></span>
                        </div>

                        <div class="FontSizeMedium">
                            Last logged in:<br /> <span id="lastLoginValue">@Model.LastLogIn.ToString("f")</span>
                        </div>
                    }
                }
            </div>

            <div class="col-sm-1"></div>

        </div>

        <hr />

        <br />

        <div class="row justify-content-center">

            <div class="col-sm text-center PortalBox">
                <a href="~/Portal/Report/@Model.Id" id="reportsLinkPortalIndex">
                    <img src="~/Content/img/PortalViewReports.png" alt="Reports" class="PortalIcon" />
                </a>
                <br />
                <span>Reports</span>
            </div>

            <div class="col-sm text-center PortalBox">
                <a href="~/Portal/Attendance/@Model.Id" id="attendanceLinkPortalIndex">
                    <img src="~/Content/img/PortalViewAttendance.png" alt="Reports" class="PortalIcon" />
                </a>
                <br />
                <span>Attendance</span>
            </div>

            <div class="col-sm text-center PortalBox">
                <a href="~/Shop/Visit" id="visitLinkPortalIndex">
                    <img src="~/Content/img/PortalVisitHome.png" alt="Visit" class="PortalIcon" />
                </a>
                <br />
                <span>Visit</span>
            </div>

            <div class="col-sm text-center PortalBox">
                <a href="~/Shop/Index/@Model.Id" id="shopLinkPortalIndex">
                    <img src="~/Content/img/PortalViewShop.png" alt="Store" class="PortalIcon" />
                </a>
                <br />
                <span>Store</span>
            </div>

            <div class="col-sm text-center PortalBox">
                <a href="~/Portal/Settings/@Model.Id" id="settingsLinkPortalIndex">
                    <img src="~/Content/img/PortalViewSettings.png" alt="Customize" class="PortalIcon" />
                </a>
                <br />
                <span>Customize</span>
            </div>

            <div class="col-sm text-center PortalBox">
                <a href="~/Portal/Avatar/@Model.Id" id="avatarLinkPortalIndex">
                    <img src="~/Content/img/PortalViewAvatars.png" alt="Choose Avatars" class="PortalIcon" />
                </a>
                <br />
                <span>Avatars</span>
            </div>
        </div>
    </div>
    <div class="col-1 no-gutters"></div>
</div>

<br />
<br />
<br />
<br />
