@model _5051.Models.StudentDisplayViewModel

@{

    ViewBag.Title = "Student Portal";
}
<br />
<h2>Welcome to your Student Portal</h2>
<br />

<h3>
    <img src="~/Content/img/@Model.AvatarUri" alt="@Model.Name  avatar image" class="AvatarSize0" />
    @Model.Name, good to see you back.
</h3>

<br />
<h4>You are now at Level @Model.AvatarLevel with a total of @Model.ExperiencePoints Experience Points</h4>
<h4>You have @Model.Tokens Tokens in the Bank</h4>

@{
    <br />
    <h4>Current Status is @Model.Status</h4>
    if (Model.Attendance == null || !Model.Attendance.Any())
    {
        //skip
    }
    {
        var LastLoginIn = Model.Attendance.OrderByDescending(m => m.In).FirstOrDefault();
        if (LastLoginIn != null)
        {
            <h4>You last logged in at: @LastLoginIn.In.ToShortDateString() @LastLoginIn.In.ToShortTimeString()</h4>
        }
    }
}

<br />
<hr />
<div class="row text-center">
    <div class="col-sm-12">
        <div class="row text-center">

            <div class="col-sm-4">
                <div class="PortalBox">
                    <a href="~/Portal/Report/@Model.Id">
                        <img src="~/Content/img/PortalReport.jpg" alt="Reports" class="PortalImage" />
                    </a>
                    <br />
                    <span>Reports</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="PortalBox">
                    <a href="~/Portal/Attendance/@Model.Id">
                        <img src="~/Content/img/CalendarEditIcon.png" alt="Reports" class="PortalImage" />
                    </a>
                    <br />
                    <span>Attendance</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="PortalBox">
                    <a href="~/Portal/House/@Model.Id">
                        <img src="~/Content/img/PortalHouse.png" alt="House" class="PortalImage" />
                    </a>
                    <br />
                    <span>House</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="PortalBox">
                    <a href="~/Shop/Index/@Model.Id">
                        <img src="~/Content/img/PortalStore.png" alt="Store" class="PortalImage" />
                    </a>
                    <br />
                    <span>Store</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="PortalBox">
                    <a href="~/Portal/Settings/@Model.Id">
                        <img src="~/Content/img/@Model.AvatarUri" alt="Customize" class="PortalImage" />
                    </a>
                    <br />
                    <span>Customize</span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="PortalBox">
                    <a href="~/Portal/Avatar/@Model.Id">
                        <img src="~/Content/img/PortalAvatars.png" alt="Choose Avatars" class="PortalImage" />
                    </a>
                    <br />
                    <span>Avatars</span>
                </div>
            </div>
        </div>
    </div>
</div>
