@model _5051.Models.StudentDisplayViewModel

@{
    ViewBag.Title = "My Settings";
}
<br />
<div class="text-center bg-transparent pt-5">
    <h2>You Can Update Your Settings</h2>
</div>

<div style="max-width: 600px; margin: 0 auto; padding: 30px;" class="darkTransparentBox">
    <div class="container">


        @{
            if (Model == null)
            {
                <p>No Student</p>
            }

            else
            {

                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="container" align="center">
                                <img src="~/Content/img/@Model.AvatarUri" id="currentAvatarImg" class="AvatarSize1" />
                                <br />
                                <span id="currentNameDisplayed">
                                    @Model.Name
                                    <br />
                                    <br />
                                </span>
                            </div>
                           
                        </div>
                        <div class="col-lg-8">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6 text-right" id="avatarLevelName">
                                        @Html.DisplayNameFor(m => m.AvatarLevel)
                                    </div>
                                    <div class="col-sm-6" id="avatarLevelValue">
                                        @Html.DisplayFor(m => m.AvatarLevel)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 text-right" id="tokensName">
                                        @Html.DisplayNameFor(m => m.Tokens)
                                    </div>
                                    <div class="col-sm-6" id="tokensValue">
                                        @Html.DisplayFor(m => m.Tokens)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 text-right" id="xpName">
                                        @Html.DisplayNameFor(m => m.ExperiencePoints)
                                    </div>
                                    <div class="col-sm-6" id="xpValue">
                                        @Html.DisplayFor(m => m.ExperiencePoints)
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 text-right" id="currentStatusName">
                                        @Html.DisplayNameFor(m => m.Status)
                                    </div>
                                    <div class="col-sm-6" id="currentStatusValue">
                                        @Html.DisplayFor(x => x.Status)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                 
                    <hr />                 
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.AvatarId)
                        @Html.HiddenFor(m => m.AvatarLevel)
                        @Html.HiddenFor(m => m.Tokens)
                        @Html.HiddenFor(m => m.Status)
                        @Html.HiddenFor(m => m.AvatarUri)
                        @Html.HiddenFor(m => m.ExperiencePoints)
                        @Html.HiddenFor(m => m.Password)
                    <div class="row">
                        <div class="col-sm-3 text-right" id="nameName">
                            @Html.DisplayNameFor(m => m.Name)
                        </div>
                        <div class="col-sm-6" id="nameValue">
                            @Html.EditorFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" value="Update" class="btn btn-primary" id="updateSubmitButton">
                        </div>
                    </div>

                        <br />
                        <br />
                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            
                        </div>

                    }
                </div>
            }
        }

    </div>
    </div>



