@model _5051.Models.KioskSettingsModel
@{
    ViewBag.Title = "Login";
}

<h2>Enter Kiosk Password to Enable Kiosk Mode</h2>

<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Password)

    <div class="row">
        <div class="col-sm-3 text-right">
            @Html.DisplayNameFor(m => m.Password)
        </div>
        <div class="col-sm-2">
            @Html.PasswordFor(m => m.Password)
        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-sm-3 text-right">
        </div>
        <div class="col-sm-4">
            @Html.ActionLink("Cancel", "Index", new { Controller = "Home" }, new { @class = "btn btn-success" })
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
    </div>
}