@model _5051.Models.KioskSettingsModel
@{
    ViewBag.Title = "Login";
}
<br/>
<div class="row justify-content-center">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold">
                Enter the Kiosk Password
            </span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="row justify-text-center">
    <div class="col-1"></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeMedium text-center">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

            <div class="row justify-content-center">
                <div class="col-3"></div>
                <div class="col FontSizeLarge">
                    <div class="row">
                        <div class="col-1">
                            <i class="fa fa-lock LockStyle" aria-hidden="true"></i>
                        </div>
                        <div class="col-1"></div>
                        <div class="col">
                            @Html.PasswordFor(m => m.Password, new { @class = "input1" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>

            <br />
            <div class="row justify-content-center">
                <div class="col-3">
                    @Html.ActionLink("Cancel", "Index", new { Controller = "Home" }, new { @class = "btn btn-success" })
                </div>
                <div class="col-3">
                    <input type="submit" value="Log In" class="btn btn-primary">
                </div>
            </div>
            }
            <br />
        </div>
    </div>
    <div class="col-1"></div>
</div>
