
@{
    ViewBag.Title = "Settings";
}
<br />
<h2>Settings</h2>

<div class="col text-left">
    <br />
    <h4>What settings do you want to change?</h4>
    @Html.ActionLink("Reset Data", "Reset", "Admin", null, new { @class = "btn btn-primary" })
</div>

<div class="col text-left">
    <br />
    <h4>Configure Source Data Set</h4>
    @Html.ActionLink("Default Data", "DataSourceSet", "Admin", new { id = _5051.Models.DataSourceDataSetEnum.Default }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Demo Data Set", "DataSourceSet", "Admin", new { id = _5051.Models.DataSourceDataSetEnum.Demo }, new { @class = "btn btn-primary", id = _5051.Models.DataSourceDataSetEnum.Demo })
    @Html.ActionLink("Unit Test Data Set", "DataSourceSet", "Admin", new { id = _5051.Models.DataSourceDataSetEnum.UnitTest }, new { @class = "btn btn-primary" })
</div>

<div class="col text-left">
    <br />
    <h4>Configure Data Source</h4>
    @Html.ActionLink("Mock Database", "DataSourceSet", "Admin", new { id = _5051.Models.DataSourceEnum.Mock }, new { @class = "btn btn-primary" })
    @Html.ActionLink("SQL Database", "DataSourceSet", "Admin", new { id = _5051.Models.DataSourceEnum.SQL }, new { @class = "btn btn-primary" })
</div>