@using _5051.Backend

@{
    ViewBag.Title = "UserList";
}
<br />
<ul class="nav nav-pills">
    <li class="nav-item ml-3">
        @Html.ActionLink("Create A Student", "CreateStudent", "Support", null, new { @class = "nav-link text-white btn-primary" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Create A Teacher", "CreateTeacher", "Support", null, new { @class = "nav-link text-white btn-primary" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Create A Support", "CreateSupport", "Support", null, new { @class = "nav-link text-white btn-primary" })
    </li>
</ul>

<h2>UserList</h2>

@{
    var studentList = IdentityDataSourceTable.Instance.ListAllStudentUsers();
    var teacherList = IdentityDataSourceTable.Instance.ListAllTeacherUsers();
    var supportList = IdentityDataSourceTable.Instance.ListAllSupportUsers();
    var userList = IdentityDataSourceTable.Instance.ListAllUsers();


    <h4>Students</h4>
    <ul>
        @{
            foreach (var item in studentList)
            {
                <li class="col text-left">
                    @Html.ActionLink(item.UserName, "UserInfo", "Support", routeValues: new { id = item.Id }, htmlAttributes: new { id = item.Id })
                </li>
            }
        }
    </ul>

    <h4>Teachers</h4>
    <ul>
        @{
            foreach (var item in teacherList)
            {
                <li class="col text-left">
                    @Html.ActionLink(item.UserName, "UserInfo", "Support", routeValues: new { id = item.Id }, htmlAttributes: new { id = item.Id })
                </li>
            }
        }
    </ul>

    <h4>Support Users</h4>
    <ul>
        @{
            foreach (var item in supportList)
            {
                <li class="col text-left">
                    @Html.ActionLink(item.UserName, "UserInfo", "Support", routeValues: new { id = item.Id }, htmlAttributes: new { id = item.Id })
                </li>
            }
        }
    </ul>

    <h4>All Users</h4>
    <ul>
        @{
            foreach (var item in userList)
            {
                <li class="col text-left">
                    @Html.ActionLink(item.UserName, "UserInfo", "Support", routeValues: new { id = item.Id }, htmlAttributes: new { id = item.Id })
                </li>
            }
        }
    </ul>
}
