<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Avatar Attendance</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/UTCtimeConvert.js"></script>

    <link rel="icon" href="~/Content/img/avatar8.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

@{
    var background = "IncludeBackgroundImageHome";
    var backgroundColor = "IncludeBackgroundColorHome";

    var routeController = Url.RequestContext.RouteData.Values["controller"].ToString();

    switch (routeController)
    {

        case "Kiosk":
            background = "IncludeBackgroundImageSunset";
            backgroundColor = "IncludeBackgroundColorSunset";
            break;

        // For now, have Portal be the Image date
        //case "Portal":
        //  background = "IncludeBackgroundImageSunset";
        //backgroundColor = "IncludeBackgroundColorSunset";
        //break;

        case "Admin":
            background = "IncludeBackgroundImageNight";
            backgroundColor = "IncludeBackgroundColorNight";
            break;

        default:
            background = "IncludeBackgroundImageDay";
            backgroundColor = "IncludeBackgroundColorDay";

            break;
    }


}

<body class="@backgroundColor">
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("Avatar Attendance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", id = "AvatarAttendanceLinkNavBar" })
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav mr-auto">

                @{
                    switch (routeController)
                    {
                        case "Home":
                            @*<li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link", id = "HomeLinkNavBar" })
                    </li>*@
                            <li class="nav-item">
                                @Html.ActionLink("Student", "Roster", "Portal", null, new { @class = "nav-link", id = "StudentLinkNavBar" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link", id = "AdminLinkNavBar" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Kiosk Mode", "Login", "Kiosk", null, new { @class = "nav-link", id = "KioskModeLinkNavBar" })
                            </li>
                            break;

                        case "Kiosk":
                            break;

                        case "Admin":
                            @*<li class="nav-item">
                                @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link", id = "AdminLinkNavBar" })
                            </li>*@
                            break;

                        case "Student":
                            @*<li class="nav-item">
                                @Html.ActionLink("Student", "Roster", "Portal", null, new { @class = "nav-link", id = "StudentLinkNavBar" })
                            </li>*@
                            break;

                        default:
                            @*<li class="nav-item">
                        @Html.ActionLink("Student", "Roster", "Portal", null, new { @class = "nav-link", id = "StudentLinkNavBar" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link", id = "AdminLinkNavBar" })
                    </li>*@

                            break;
                    }
                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="@background">
        <div class="container body-content fill-height">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="footer fixed-bottom">
            <div class="FooterBar body-content">
                <div class="row">
                    <div class="footer-copyright py-1">
                        &nbsp;&nbsp;&copy;@DateTime.Now.Year - Avatar Attendance, all rights reserved &nbsp;&nbsp;
                    </div>
                    @Html.ActionLink("About", "About", "Home", new { controller = "Home" }, new { @class = "btn btn-link FooterText FooterLink", id = "AboutLinkFooter" })
                    @Html.ActionLink("Privacy Policy", "Privacy", "Home", new { controller = "Home" }, new { @class = "btn btn-link FooterText FooterLink", id = "PrivacyPolicyLinkFooter" })
                    @Html.ActionLink("Contact", "Contact", "Home", new { controller = "Home" }, new { @class = "btn btn-link FooterText FooterLink", id = "ContactLinkFooter" })
                    @Html.ActionLink("FAQ's", "FAQ", "Home", new { controller = "Home" }, new { @class = "btn btn-link FooterText FooterLink", id = "FAQLinkFooter" })
                    @Html.ActionLink("User Guide", "Guide", "Home", new { controller = "Home" }, new { @class = "btn btn-link FooterText FooterLink", id = "UserGuideLinkFooter" })
                </div>
            </div>

        </div>
    </footer>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{
        var myAreaID = "Area-" + ViewContext.RouteData.DataTokens["area"] + "-Done";
        var myControllerID = "Controller-" + ViewContext.Controller.ValueProvider.GetValue("controller").RawValue + "-Done";
        var myActionID = "View-" + ViewContext.RouteData.Values["action"] + "-Done";
    }

    <div id="Page-Done"></div>
    <div id="@myAreaID"></div>
    <div id="@myControllerID"></div>
    <div id="@myActionID"></div>
</body>
</html>
