@model _5051.Models.FactoryInventoryModel
@{
    ViewBag.Title = "Create";
}

<div class="container FontColorWhite">
        <br />
        <h2>Create Shop Inventory Item</h2>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Name)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Description)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Uri)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Uri)
                    @Html.ValidationMessageFor(m => m.Uri)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Tokens)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Tokens)
                    @Html.ValidationMessageFor(m => m.Tokens)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Category)
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Category)
                    @Html.ValidationMessageFor(m => m.Category)
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-4">
                    @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </div>

        }
    </div>
