@model _5051.Models.FactoryInventoryModel
@{
    ViewBag.Title = "Update";
}

<div class="container FontColorWhite">
    @{
        if (Model == null)
        {
            <br />
            <p>No FactoryInventory</p>
        }
        else
        {
            <div class="">
                <br />
                <h2>Update FactoryInventory</h2>
                <br />
                <br />

                <div class="row">
                    <div class="col-sm-3 text-right">
                    </div>
                    <div class="col-sm-4">
                        <img src="~/Content/shop/@Model.Uri" class="FactoryInventorySize1" />
                        <br />
                        <span>
                            @Model.Name
                            <br />
                            <br />
                            <br />
                        </span>
                    </div>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)

                    <div class="row">
                        <div class="col-sm-3 text-right">
                            @Html.DisplayNameFor(m => m.Name)
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 text-right">
                            @Html.DisplayNameFor(m => m.Description)
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Description)
                            @Html.ValidationMessageFor(m => m.Description)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 text-right">
                            @Html.DisplayNameFor(m => m.Uri)
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Uri)
                            @Html.ValidationMessageFor(m => m.Uri)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 text-right">
                            @Html.DisplayNameFor(m => m.Tokens)
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Tokens)
                            @Html.ValidationMessageFor(m => m.Tokens)
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3 text-right">
                            @Html.DisplayNameFor(m => m.Category)
                        </div>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Category)
                            @Html.ValidationMessageFor(m => m.Category)
                        </div>
                    </div>

                    <br />
                    <br />
                    <div class="row">
                        <div class="col-sm-3 text-right">
                        </div>
                        <div class="col-sm-4">
                            @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                            <input type="submit" value="Update" class="btn btn-primary">
                        </div>
                    </div>

                }
            </div>
        }
    }

</div>
