@model _5051.Models.SchoolDismissalSettingsModel
@{
    ViewBag.Title = "Read";

    var DayFirst = Model.DayFirst.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayFirst.Month, Model.DayFirst.Day, Model.);
    var DayLast = Model.DayLast.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayLast.Month, Model.DayLast.Day);
}

<div class="text-center FontColorWhite FontSizeSmall">
    <br />

    <h2>Admin Settings</h2>
    <br />

    @{
        if (Model == null)
        {
            <p>No Data</p>
        }
        else
        {
            <div>

                <br />

                <div class="row justify-content-center">
                    <div class="col-sm-5">
                        <div class="lightTransparentBox m-1 p-2">
                            <h4>Dismissal Time Settings</h4>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.StartNormal)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.StartNormal.Hours, Model.StartNormal.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.StartEarly)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.StartEarly.Hours, Model.StartEarly.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.StartLate)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.StartLate.Hours, Model.StartLate.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.EndNormal)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.EndNormal.Hours, Model.EndNormal.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.EndEarly)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.EndEarly.Hours, Model.EndEarly.Minutes)
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.EndLate)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @string.Format("{0:D1}:{1:D2}", Model.EndLate.Hours, Model.EndLate.Minutes)
                                </div>
                            </div>
                        </div>
                        <div class="lightTransparentBox m-1 p-2">
                            <h4>Day of Week Dismissal Settings</h4>
                            <table class="table table-borderless table-condensed w-75 m-auto">
                                <thead>
                                    <tr>
                                        <td>Day of Week</td>
                                        <td>Start</td>
                                        <td>End</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mon</td>
                                        <td>@Model.DayStartDropDown[@Model.MonStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.MonEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Tue</td>
                                        <td>@Model.DayStartDropDown[@Model.TueStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.TueEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Wed</td>
                                        <td>@Model.DayStartDropDown[@Model.WedStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.WedEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Thu</td>
                                        <td>@Model.DayStartDropDown[@Model.ThuStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.ThuEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Fri</td>
                                        <td>@Model.DayStartDropDown[@Model.FriStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.FriEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Sat</td>
                                        <td>@Model.DayStartDropDown[@Model.SatStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.SatEndSelected].Text</td>
                                    </tr>
                                    <tr>
                                        <td>Sun</td>
                                        <td>@Model.DayStartDropDown[@Model.SunStartSelected].Text</td>
                                        <td>@Model.DayEndDropDown[@Model.SunEndSelected].Text</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="lightTransparentBox m-1 p-2">
                            <h4>Semester Settings</h4>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    School Year Start Date:
                                </div>
                                <div class="col-sm-6 text-left">
                                    @DayFirst
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    School Year End Date:
                                </div>
                                <div class="col-sm-6 text-left">
                                    @DayLast
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.FallFirstClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.FallFirstClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.FallLastClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.FallLastClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.SpringFirstClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.SpringFirstClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.SpringLastClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.SpringLastClassDay.ToShortDateString()
                                </div>
                            </div>
                        </div>
                        <div class="lightTransparentBox m-1 p-2">
                            <h4>Quarter Settings</h4>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.FallQuarterFirstClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.FallQuarterFirstClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.FallQuarterLastClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.FallQuarterLastClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.WinterQuarterFirstClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.WinterQuarterFirstClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.WinterQuarterLastClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.WinterQuarterLastClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.SpringQuarterFirstClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.SpringQuarterFirstClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.SpringQuarterLastClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.SpringQuarterLastClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.SummerQuarterFirstClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.SummerQuarterFirstClassDay.ToShortDateString()
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.SummerQuarterLastClassDay)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.SummerQuarterLastClassDay.ToShortDateString()
                                </div>
                            </div>
                        </div>
                        <div class="lightTransparentBox m-1 p-2">
                            <h4>Report Settings</h4>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.Goal)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.Goal%
                                </div>
                            </div>
                            <div class="row justify-content-center mt-2">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.EarlyWindow)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.EarlyWindow
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 text-right">
                                    @Html.DisplayNameFor(m => m.LateWindow)
                                </div>
                                <div class="col-sm-6 text-left">
                                    @Model.LateWindow
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        

            <br />
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    @Html.ActionLink("Back", "Index", new { id = Model.Id, Controller = "Calendar" }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>

        }
    }

</div>

