@model _5051.Models.SchoolDismissalSettingsModel
@{
    ViewBag.Title = "Read";

    var DayFirst = Model.DayFirst.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayFirst.Month, Model.DayFirst.Day, Model.);
    var DayLast = Model.DayLast.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayLast.Month, Model.DayLast.Day);
}

<div class="container">
    <br />
    <h2>School Dismissal Settings</h2>
    <br />

    @{
        if (Model == null)
        {
            <p>No Data</p>
        }
        else
        {
            <div class="container">

                <br />
                <br />

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.StartNormal)
                    </div>
                    <div class="col-sm-4">
                        @string.Format("{0:D1}:{1:D2}", Model.StartNormal.Hours, Model.StartNormal.Minutes)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.StartEarly)
                    </div>
                    <div class="col-sm-4">
                        @string.Format("{0:D1}:{1:D2}", Model.StartEarly.Hours, Model.StartEarly.Minutes)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.StartLate)
                    </div>
                    <div class="col-sm-4">
                        @string.Format("{0:D1}:{1:D2}", Model.StartLate.Hours, Model.StartLate.Minutes)
                    </div>
                </div>

                <br />
                <br />

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.EndNormal)
                    </div>
                    <div class="col-sm-4">
                        @string.Format("{0:D1}:{1:D2}", Model.EndNormal.Hours, Model.EndNormal.Minutes)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.EndEarly)
                    </div>
                    <div class="col-sm-4">
                        @string.Format("{0:D1}:{1:D2}", Model.EndEarly.Hours, Model.EndEarly.Minutes)
                    </div>
                </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.EndLate)
                </div>
                <div class="col-sm-4">
                    @string.Format("{0:D1}:{1:D2}", Model.EndLate.Hours, Model.EndLate.Minutes)
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.MonStartType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.MonStartSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.MonEndType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.MonEndSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.TueStartType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.TueStartSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.TueEndType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.TueEndSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.WedStartType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.WedStartSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.WedEndType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.WedEndSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.ThuStartType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.ThuStartSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.ThuEndType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.ThuEndSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.FriStartType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.FriStartSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.FriEndType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.FriEndSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.SatStartType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.SatStartSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.SatEndType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.SatEndSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.SunStartType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.SunStartSelected].Text
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.SunEndType)
                </div>
                <div class="col-sm-4">
                    @Model.DayStartDropDown[@Model.SunEndSelected].Text
                </div>
            </div>



            <br />
                <br />

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.DayFirst)
                    </div>
                    <div class="col-sm-4">
                        @DayFirst
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.DayLast)
                    </div>
                    <div class="col-sm-4">
                        @DayLast
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.FallFirstClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.FallFirstClassDay.ToShortDateString()
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.FallLastClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.FallLastClassDay.ToShortDateString()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.SpringFirstClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.SpringFirstClassDay.ToShortDateString()
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.SpringLastClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.SpringLastClassDay.ToShortDateString()
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.FallQuarterFirstClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.FallQuarterFirstClassDay.ToShortDateString()
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.FallQuarterLastClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.FallQuarterLastClassDay.ToShortDateString()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.WinterQuarterFirstClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.WinterQuarterFirstClassDay.ToShortDateString()
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.WinterQuarterLastClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.WinterQuarterLastClassDay.ToShortDateString()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.SpringQuarterFirstClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.SpringQuarterFirstClassDay.ToShortDateString()
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.SpringQuarterLastClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.SpringQuarterLastClassDay.ToShortDateString()
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.SummerQuarterFirstClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.SummerQuarterFirstClassDay.ToShortDateString()
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.SummerQuarterLastClassDay)
                    </div>
                    <div class="col-sm-4">
                        @Model.SummerQuarterLastClassDay.ToShortDateString()
                    </div>
                </div>
                <br/>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Goal)
                </div>
                <div class="col-sm-4">
                    @Model.Goal%
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.EarlyWindow)
                </div>
                <div class="col-sm-4">
                    @Model.EarlyWindow
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.LateWindow)
                </div>
                <div class="col-sm-4">
                    @Model.LateWindow
                </div>
            </div>

                <br />
                <div class="row">
                    <div class="col-sm-3 text-right">
                    </div>
                    <div class="col-sm-4">
                        @Html.ActionLink("Back", "Index", new { id = Model.Id, Controller = "Calendar" }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    }

</div>

