@model _5051.Models.SchoolDismissalSettingsModel
@{
    ViewBag.Title = "Update";

    var DayFirst = Model.DayFirst.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayFirst.Month, Model.DayFirst.Day, Model.);
    var DayLast = Model.DayLast.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayLast.Month, Model.DayLast.Day);
}

<div class="container">
    <br />
    <h2>School Dismissal Settings</h2>
    <br />
        @{
            if (Model == null)
            {
                <p>No Data</p>
            }
            else
            {
                <div class="container">

                    <br />
                    <br />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.StartNormal)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.StartNormal, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartNormal.Hours, Model.StartNormal.Minutes) } })
                                @Html.ValidationMessageFor(m => m.StartNormal)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.StartEarly)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.StartEarly, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartEarly.Hours, Model.StartEarly.Minutes) } })
                                @Html.ValidationMessageFor(m => m.StartEarly)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.StartLate)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.StartLate, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartLate.Hours, Model.StartLate.Minutes) } })
                                @Html.ValidationMessageFor(m => m.StartLate)
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.EndNormal)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.EndNormal, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndNormal.Hours, Model.EndNormal.Minutes) } })
                                @Html.ValidationMessageFor(m => m.EndNormal)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.EndEarly)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.EndEarly, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndEarly.Hours, Model.EndEarly.Minutes) } })
                                @Html.ValidationMessageFor(m => m.EndEarly)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.EndLate)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.EndLate, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndLate.Hours, Model.EndLate.Minutes) } })
                                @Html.ValidationMessageFor(m => m.EndLate)
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.DayFirst)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.DayFirst, new { htmlAttributes = new { @Value = DayFirst } })
                                @Html.ValidationMessageFor(m => m.DayFirst)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.DayLast)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.DayLast, new { htmlAttributes = new { @Value = DayLast } })
                                @Html.ValidationMessageFor(m => m.DayLast)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.FallFirstClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.FallFirstClassDay, new { htmlAttributes = new { @Value = @Model.FallFirstClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.FallFirstClassDay)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.FallLastClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.FallLastClassDay, new { htmlAttributes = new { @Value = @Model.FallLastClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.FallLastClassDay)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.WinterFirstClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.WinterFirstClassDay, new { htmlAttributes = new { @Value = @Model.WinterFirstClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.WinterFirstClassDay)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.WinterLastClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.WinterLastClassDay, new { htmlAttributes = new { @Value = @Model.WinterLastClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.WinterLastClassDay)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.SpringFirstClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.SpringFirstClassDay, new { htmlAttributes = new { @Value = @Model.SpringFirstClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.SpringFirstClassDay)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.SpringLastClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.SpringLastClassDay, new { htmlAttributes = new { @Value = @Model.SpringLastClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.SpringLastClassDay)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.SummerFirstClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.SummerFirstClassDay, new { htmlAttributes = new { @Value = @Model.SummerFirstClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.SummerFirstClassDay)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.SummerLastClassDay)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.SummerLastClassDay, new { htmlAttributes = new { @Value = @Model.SummerLastClassDay.ToShortDateString() } })
                                @Html.ValidationMessageFor(m => m.SummerLastClassDay)
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-4">
                                @Html.ActionLink("Back", "Read", new { id = Model.Id }, new { @class = "btn btn-success" })
                                <input type="submit" value="Update" class="btn btn-primary">
                            </div>
                        </div>
                    }
                </div>
            }
        }
</div>
