@model _5051.Models.SchoolDismissalSettingsModel
@{
    ViewBag.Title = "Update";

    var DayFirst = Model.DayFirst.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayFirst.Month, Model.DayFirst.Day, Model.);
    var DayLast = Model.DayLast.ToShortDateString(); //string.Format("{0:D1}:{1:D2}", Model.DayLast.Month, Model.DayLast.Day);
}

<br />
<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold FontColorWhite">Admin Settings</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
    <br />
</div>

<div class="text-center FontColorWhite FontSizeSmall">
    @{
        if (Model == null)
        {
            <div class="row justify-content-center">
                <div class="col-1"></div>
                <div class="col lightTransparentBox">
                    <br />
                    <div class="FontSizeLarge text-center FontColorWhite">
                        No Data
                    </div>
                    <br />
                </div>
                <div class="col-1"></div>
            </div>
        }
        else
        {
            <div>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Id)
                    <div class="row justify-content-center">
                        <div class="col-sm-5">
                            <div class="lightTransparentBox m-1 p-2">
                                <h4>Dismissal Time Settings</h4>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.StartNormal)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.StartNormal, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartNormal.Hours, Model.StartNormal.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.StartNormal)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.StartEarly)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.StartEarly, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartEarly.Hours, Model.StartEarly.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.StartEarly)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.StartLate)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.StartLate, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.StartLate.Hours, Model.StartLate.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.StartLate)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.EndNormal)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.EndNormal, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndNormal.Hours, Model.EndNormal.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.EndNormal)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.EndEarly)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.EndEarly, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndEarly.Hours, Model.EndEarly.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.EndEarly)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.EndLate)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.EndLate, new { htmlAttributes = new { @Value = string.Format("{0:D1}:{1:D2}", Model.EndLate.Hours, Model.EndLate.Minutes) } })
                                        @Html.ValidationMessageFor(m => m.EndLate)
                                    </div>
                                </div>
                            </div>
                            <div class="lightTransparentBox m-1 p-2">
                                <h4>Day of Week Dismissal Settings</h4>
                                <table class="table table-borderless table-condensed w-75 m-auto">
                                    <thead>
                                        <tr>
                                            <td>Day of Week</td>
                                            <td>Start</td>
                                            <td>End</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Mon</td>
                                            <td>@Html.DropDownListFor(m => m.MonStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.MonEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Tue</td>
                                            <td>@Html.DropDownListFor(m => m.TueStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.TueEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Wed</td>
                                            <td>@Html.DropDownListFor(m => m.WedStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.WedEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Thu</td>
                                            <td>@Html.DropDownListFor(m => m.ThuStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.ThuEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Fri</td>
                                            <td>@Html.DropDownListFor(m => m.FriStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.FriEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Sat</td>
                                            <td>@Html.DropDownListFor(m => m.SatStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.SatEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                        <tr>
                                            <td>Sun</td>
                                            <td>@Html.DropDownListFor(m => m.SunStartSelected, Model.DayStartDropDown)</td>
                                            <td>@Html.DropDownListFor(m => m.SunEndSelected, Model.DayEndDropDown)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-sm-5">
                            <div class="lightTransparentBox m-1 p-2">
                                <h4>Semester Settings</h4>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        School Year Start Date:
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.DayFirst, new { htmlAttributes = new { @Value = DayFirst } })
                                        @Html.ValidationMessageFor(m => m.DayFirst)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        School Year End Date:
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.DayLast, new { htmlAttributes = new { @Value = DayLast } })
                                        @Html.ValidationMessageFor(m => m.DayLast)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.FallFirstClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.FallFirstClassDay, new { htmlAttributes = new { @Value = @Model.FallFirstClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.FallFirstClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.FallLastClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.FallLastClassDay, new { htmlAttributes = new { @Value = @Model.FallLastClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.FallLastClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.SpringFirstClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.SpringFirstClassDay, new { htmlAttributes = new { @Value = @Model.SpringFirstClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.SpringFirstClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.SpringLastClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.SpringLastClassDay, new { htmlAttributes = new { @Value = @Model.SpringLastClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.SpringLastClassDay)
                                    </div>
                                </div>
                            </div>
                            <div class="lightTransparentBox m-1 p-2">
                                <h4>Quarter Settings</h4>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.FallQuarterFirstClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.FallQuarterFirstClassDay, new { htmlAttributes = new { @Value = @Model.FallQuarterFirstClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.FallQuarterFirstClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.FallQuarterLastClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.FallQuarterLastClassDay, new { htmlAttributes = new { @Value = @Model.FallQuarterLastClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.FallQuarterLastClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.WinterQuarterFirstClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.WinterQuarterFirstClassDay, new { htmlAttributes = new { @Value = @Model.WinterQuarterFirstClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.WinterQuarterFirstClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.WinterQuarterLastClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.WinterQuarterLastClassDay, new { htmlAttributes = new { @Value = @Model.WinterQuarterLastClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.WinterQuarterLastClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.SpringQuarterFirstClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.SpringQuarterFirstClassDay, new { htmlAttributes = new { @Value = @Model.SpringQuarterFirstClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.SpringQuarterFirstClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.SpringQuarterLastClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.SpringQuarterLastClassDay, new { htmlAttributes = new { @Value = @Model.SpringQuarterLastClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.SpringQuarterLastClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.SummerQuarterFirstClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.SummerQuarterFirstClassDay, new { htmlAttributes = new { @Value = @Model.SummerQuarterFirstClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.SummerQuarterFirstClassDay)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.SummerQuarterLastClassDay)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.SummerQuarterLastClassDay, new { htmlAttributes = new { @Value = @Model.SummerQuarterLastClassDay.ToShortDateString() } })
                                        @Html.ValidationMessageFor(m => m.SummerQuarterLastClassDay)
                                    </div>
                                </div>
                            </div>
                            <div class="lightTransparentBox m-1 p-2">
                                <h4>Report Settings</h4>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.Goal)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.Goal, new { htmlAttributes = new { @Value = @Model.Goal } })%
                                        @Html.ValidationMessageFor(m => m.Goal)
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.EarlyWindow)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.EarlyWindow, new { htmlAttributes = new { @Value = @Model.EarlyWindow } })
                                        @Html.ValidationMessageFor(m => m.EarlyWindow)
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-sm-6 text-right">
                                        @Html.DisplayNameFor(m => m.LateWindow)
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        @Html.EditorFor(m => m.LateWindow, new { htmlAttributes = new { @Value = @Model.LateWindow } })
                                        @Html.ValidationMessageFor(m => m.LateWindow)
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br />
                    <div class="row justify-content-around DispalyBoxWithMargin">
                        <div class="col text-center DispalyBoxWithMargin">
                            @Html.ActionLink("Back", "Read", new { id = Model.Id }, new { @class = "btn btn1 btn-light DispalyBoxWithMargin" })
                        </div>
                        <div class="col text-center DispalyBoxWithMargin">
                            <input type="submit" value="Update" class="btn btn1 btn-light DispalyBoxWithMargin">
                        </div>
                        <br />
                    </div>

                }

            </div>


        }

    }
</div>
<br />
