@model _5051.Models.KioskSettingsModel
@{
    ViewBag.Title = "Update";

}

<div class="container">
    <br />
    <h2>Kiosk Settings</h2>
    <br />
    <div class="container">
        @{
            if (Model == null)
            {
                <p>No Data</p>
            }
            else
            {
                <div class="row">

                    <br />
                    <br />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Password)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.TimeZone)
                            </div>
                            <div class="col-sm-5 text-right">
                                @Html.DropDownListFor(m => m.SelectedTimeZoneId, Model.TimeZones)
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-4">
                                @Html.ActionLink("Back", "Settings", new { id = Model.Id, Controller = "Admin" }, new { @class = "btn btn-success" })
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="Update" class="btn btn-primary">
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
