@model _5051.Models.StudentModel

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row">
        <h2>Create Student</h2>
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)

            <div class="row">
                <div class="col-sm-2 text-right">
                    @Html.DisplayNameFor(m => m.Name)
                </div>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.Name)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right">
                    @Html.DisplayNameFor(m => m.AvatarId)
                </div>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.AvatarId)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right">
                    @Html.DisplayNameFor(m => m.AvatarLevel)
                </div>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.AvatarLevel)
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 text-right">
                    @Html.DisplayNameFor(m => m.Tokens)
                </div>
                <div class="col-sm-2">
                    @Html.EditorFor(m => m.Tokens)
                </div>
            </div>

            <br />
            <br />
            <div class="row">
                <div class="col-sm-2 text-right">
                </div>
                <div class="col-sm-4">
                    @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </div>




        }
    </div>
    </div>
