@model _5051.Models.StudentReportViewModel
@{
    ViewBag.Title = "Student Reports";
}

<div class="text-center">
    <br />
    <h4>This is a student monthly report wireframe</h4>
    <br />
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.StudentId)
            <div class="row">
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Year)
                    @Html.DropDownListFor(m => m.Year, new SelectList(new List<int> { 2017, 2018 }))
                </div>
                <div class="col-sm-3 text-right">
                    @Html.DisplayNameFor(m => m.Month)
                    @Html.TextBoxFor(m => m.Month)
                </div>
            </div>
            <div class="col-sm-4">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>

        }


    </div>
</div>
<br />
From @Model.DateStart.ToShortDateString()<br />
            To   @Model.DateEnd.ToShortDateString()<br />
@if (Model.AttendanceList.Count == 0)
{
    <p>No Data of this Month</p>
}
else
{
    <div class="accordion" id="accordionExample">

        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cumulative Line Chart
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_StudentReportCumulativeLineChartPartial", Model)
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Calendar View
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_StudentReportCalendarPartial", Model)
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThre">
                        All Data
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_StudentReportTablePartial", Model)
                </div>
            </div>
        </div>

    </div>
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

