@model _5051.Models.ShopTruckViewModel
@{

    ViewBag.Title = "Edit Truck";
    var myPlace = Model.TruckItem;
}

<h2>Choose the area to edit</h2>

<br />

<div class="row">
    <div class="col">
        <div class="row">
            <h2>Truck</h2>
        </div>
        @{
            // Iterate through all the Truck bodies
            // Have a form post that takes the truck position, student ID, truck body when student selects

            myPlace = Model.TruckItem;

            <div class="row">
                <div class="col-sm-2">
                    <div class="">
                            <img src="~/Content/shop/@myPlace.Item.Uri" class="FactoryInventorySize1" />
                        <br />
                        <span>
                            @myPlace.Item.Name
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>Inventory</h3>
            </div>

            <div class="row">
                @{
                    if (myPlace.ItemList.Count < 1)
                    {
                        <div>No Items to Select</div>
                    }

                    foreach (var InventoryItem in myPlace.ItemList)
                    {
                        using (Html.BeginForm())
                        {
                            //Send up the AvatarId, and the StudentId to associated the Avatar with.
                            @Html.Hidden("StudentId", Model.StudentId);
                            @Html.Hidden("InventoryId", InventoryItem.Id);


                            var picturURI = "/Content/img/" + InventoryItem.Uri;

                            <div class="col-sm-2 text-center">
                                <div class="BoxWithHighlightHover">
                                    <input type="image" name="submit" src="@picturURI" border="0" alt="@InventoryItem.Name" id="@InventoryItem.Id" class="AvatarSize1" />
                                    <br />
                                    <span class="text-center">
                                        @InventoryItem.Name
                                        <br />
                                    </span>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }
    </div>
</div>

<br />


