@model _5051.Models.StudentModel
@{
    ViewBag.Title = "Shop";
}
<div class="row"><br /></div>

<div class="row no-gutters justify-content-center">
    <div class="col TruckBoxLarge" id="ImageBox">
        @{
            // StudentId needs to be in the Dom
            <div>
                @Html.Hidden("StudentId", Model.Id)
            </div>

            <div class="StudentNavBar FontBold FontSizeSmall">
                <div class="row justify-content-around">
                    <div class="col-1"></div>
                    <div class="col-1">
                        Lvl &nbsp;<span id="levelValue">@Model.AvatarLevel</span>
                    </div>
                    <div class="col-1">
                        <span id="ExperienceValue">@Model.ExperiencePoints</span>&nbsp; XP
                    </div>
                    <div class="col-2">
                        <span id="TokensValue">@Model.Tokens</span>&nbsp; Tokens
                    </div>
                    <div class="col-2">
                        <span>Customers:</span>&nbsp;<span id="CustomersValue">10</span>
                    </div>
                    <div class="col-3">
                        <span id="StoreStatus"></span>
                    </div>
                    @*
                        <div class="col">
                            <span>Iteration Number:&nbsp;</span><span id="IterationNumber"></span>
                        </div>
                    *@
                    <div class="col-1"></div>
                </div>
            </div>

            <div class="FeedBox FontSizeMedium">
                <div class="dropdown-content">
                    <a href="#">
                        <span>Game Data:&nbsp;</span>
                    </a>
                    <a href="#">
                        <span id="TransactionList"></span>
                    </a>
                </div>
            </div>

            <div class="GameButtonsBox">
                <div class="row">
                    @*&nbsp;&nbsp;*@
                    @Html.ActionLink("Factory", "Factory", "Shop", new { id = Model.Id }, new { @class = "btn1" })

                    @{
                        //&nbsp; &nbsp;
                        //@Html.ActionLink("Celebrity Poster", "CelebrityPoster", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    }
                </div>
                <div class="row">
                    @*&nbsp;&nbsp;*@
                    @Html.ActionLink("Truck Inventory", "Inventory", "Shop", new { id = Model.Id }, new { @class = "btn1" })
                </div>
                <div class="row">
                    @*&nbsp;&nbsp;*@
                    @Html.ActionLink("Edit Truck", "Edit", "Shop", new { id = Model.Id }, new { @class = "btn1" })
                </div>
            </div>
            <div class="AvatarImageBox">

            </div>
        }

        <img class="TruckItemBase BackgroundItem" id="Background" src="~/Content/shop/Background1.png" alt="Background">

        <img class="TruckItemBase TopperItem" id="Topper" src="~/Content/shop/placeholder.png" alt="Topper">
        <img class="TruckItemBase SignItem" id="Sign" src="~/Content/shop/placeholder.png" alt="Sign">
        <img class="TruckItemBase TruckItem" id="Truck" src="~/Content/shop/placeholder.png" alt="Truck">
        <img class="TruckItemBase MenuItem" id="Menu" src="~/Content/shop/placeholder.png" alt="Menu">
        <img class="TruckItemBase TruckItemBase WheelsItem" id="Wheels" src="~/Content/shop/placeholder.png" alt="Wheels">
        <img class="TruckItemBase TrailerItem" id="Trailer" src="~/Content/shop/placeholder.png" alt="Trailer">
        <img class="TruckItemBase TruckClosedSignItem" id="TruckClosedSign" src="~/Content/shop/placeholder.png" alt="Trailer">
        <img class="TruckItemBase TruckInsideItem" id="TruckInside" src="~/Content/shop/placeholder.png" alt="Trailer">

        <div class="PeopleBox" id="PeopleBox">
            <img class="PeopleItem" id="PeopleItem" src="~/Content/shop/placeholder.png" alt="Shopper">
        </div>

        <div class="WorkerBox" id="WorkerBox">
            <img class="WorkerItem" id="Worker" src="~/Content/shop/placeholder.png" alt="Worker">
        </div>

        <div class="WorkerBoxLeft" id="WorkerBoxLeft"></div>
        <div class="WorkerBoxRight" id="WorkerBoxRight"></div>
    </div>

</div>

<script src="~/Scripts/Game.js"></script>
<script src="~/Scripts/People.js"></script>
