@model _5051.Models.StudentModel
@{
    ViewBag.Title = "Shop";
}
<br />
<h2>Welcome to the Store</h2>

<br />

<div class="ImageBox" id="ImageBox">

    <div class="ScoreBoardBox">
        <span>
            Lvl <span id="levelValue">@Model.AvatarLevel</span><br />
            <span id="xpValue">@Model.ExperiencePoints</span> XP
        </span>
        <span id="tokensValue">@Model.Tokens</span> Tokens<br />

        <span>Customers 10</span>
    </div>

    <div class="TopperBox">
        <img class="TopperItem" id="Topper" src="~/Content/shop/placeholder.png" alt="Topper">
    </div>

    <div class="SignBox">
        <img class="SignItem" id="Sign" src="~/Content/shop/placeholder.png" alt="Sign">
    </div>

    <div class="TruckBox">
        <img class="TruckItem" id="Truck" src="~/Content/shop/placeholder.png" alt="Truck">
    </div>

    <div class="MenuBox">
        <img class="MenuItem" id="Menu" src="~/Content/shop/placeholder.png" alt="Menu">
    </div>

    <div class="WheelsBox">
        <img class="WheelsItem" id="Wheels" src="~/Content/shop/placeholder.png" alt="Wheels">
    </div>

    <div class="TrailerBox">
        <img class="TrailerItem" id="Trailer" src="~/Content/shop/placeholder.png" alt="Trailer">
    </div>

    <div class="TruckClosedSignBox">
        <img class="TruckClosedSignItem" id="TruckClosedSign" src="~/Content/shop/placeholder.png" alt="Trailer">
    </div>

    <div class="TruckInsideBox">
        <img class="TruckInsideItem" id="TruckInside" src="~/Content/shop/placeholder.png" alt="Trailer">
    </div>

    <div class="PeopleBox" id="PeopleBox">
        <img class="PeopleItem" id="PeopleItem" src="~/Content/shop/placeholder.png" alt="Shopper">
    </div>

</div>


@Html.ActionLink("Factory", "Factory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

&nbsp;&nbsp;
@Html.ActionLink("Truck Inventory", "Inventory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

&nbsp;&nbsp;
@Html.ActionLink("Edit Truck", "Edit", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

&nbsp;&nbsp;
@Html.ActionLink("Celebrity Poster", "CelebrityPoster", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })


@{
    // Game Engine Code block

    // Put the Student ID into the Dom, so the Game engine can find it
    <div>
        @Html.Hidden("StudentId", Model.Id)
    </div>

    // Show the Current Iteration Number
    <div class="row">
        <span>Iteration Number:&nbsp;</span><span id="IterationNumber"></span>
    </div>

    // Show the Current Refresh Data
    <div class="row">
        <span>Game Data:&nbsp;</span><span id="GameData"></span>
    </div>

    <br />
    <br />
    <br />

    <script src="~/Scripts/Game.js"></script>
    <script src="~/Scripts/People.js"></script>
}