@model _5051.Models.StudentModel
@{
    ViewBag.Title = "Shop";
}
<br />
<h2>Welcome to the Store</h2>

<h3>Spend your Tokens on items at the store</h3>

<br />

@*<img src="~/Content/img/StoreExample.jpg" />*@

<img id="shop" width="1000" height="800" src="~/Content/img/icecream-shop.png" alt="shop" style="display:none">
<img id="inside" width="1000" height="800" src="~/Content/img/shop-inside.png" alt="inside" style="display:none">
<img id="display" width="1000" height="800" src="~/Content/img/icecream-display.png" alt="display" style="display:none">

<canvas id="myCanvas" width="1000" height="800" onclick="switchView()"></canvas>

<script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        var inside = false;

        window.onload = function () {
            drawInside();
            var img = document.getElementById("shop");
            ctx.drawImage(img, 0, 0, 900, 600);
        }

        function switchView() {
            //ctx.clearRect(0, 0, 900, 600);
            var img;
            if (inside == false) {
                ctx.clearRect(0, 0, 900, 600);
                drawInside();
                inside = true;
            } else {
                img = document.getElementById("shop");
                ctx.drawImage(img, 0, 0, 900, 600);
                inside = false;
            }

        }

        function drawInside() {
            img = document.getElementById("inside");
            ctx.drawImage(img, 65, 0, 755, 600);
            img = document.getElementById("display");
            ctx.drawImage(img, 150, 340, 315, 200);

            var colors = ["blue", "pink", "yellow", "orange", "brown", "red", "white"];
            var empty = [1, 0, 0, 0, 0, 1, 0];

            for (var i = 0; i < colors.length; i++) {
                var xPosition = 171 + (i * 40);

                if (empty[i] == 1) {
                    ctx.fillStyle = "black";
                    ctx.font = "55px Arial";
                    ctx.fillText("X", xPosition, 455, 30);
                } else {
                    ctx.fillStyle = colors[i];
                    ctx.fillRect(xPosition, 415, 30, 40);
                }
            }

        }

</script>

<br />
<br />




@Html.ActionLink("Discounts", "Discounts", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Special Items", "Specials", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Factory", "Factory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />

@Html.ActionLink("Shop Inventory", "Inventory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />

@Html.ActionLink("Celebrity Poster", "CelebrityPoster", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />

@Html.ActionLink("Edit Shop", "Edit", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />