@model _5051.Models.StudentModel
@{
    ViewBag.Title = "Shop";
}
<br />
<h2>Welcome to the Store</h2>

<h3>Spend your Tokens on items at the store</h3>

<br />

<div id="ImageBox">

    <div id="TopperBox">
        <img id="Topper" width="1000" height="800" src="" alt="Topper">
    </div>

    <div id="SignBox">
        <img id="Sign" width="1000" height="800" src="" alt="Sign">
    </div>

    <div id="TruckBox">
        <img id="Truck" width="1000" height="800" src="" alt="Truck">
    </div>

    <div id="MenuBox">
        <img id="Menu" width="1000" height="800" src="" alt="Menu">
    </div>

    <div id="RimsBox">
        <img id="Rims" width="1000" height="800" src="" alt="Rims">
    </div>

    <div id="TailBox">
        <img id="Tail" width="1000" height="800" src="" alt="Tail">
    </div>

</div>

<br />
<br />

<style>

    #ImageBox {
        width: 1000px;
        height: 1000px;
    }

    #TopperBox {
    }

    #TruckBox {
        padding-top: 500px;
        padding-left: 200px;
    }
</style>

<br />
<br />




@Html.ActionLink("Discounts", "Discounts", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Special Items", "Specials", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />
@Html.ActionLink("Factory", "Factory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />

@Html.ActionLink("Shop Inventory", "Inventory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />

@Html.ActionLink("Celebrity Poster", "CelebrityPoster", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />

@Html.ActionLink("Edit Shop", "Edit", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

<br />
<br />

@{
    // Game Engine Code block

    // Put the Student ID into the Dom, so the Game engine can find it
    <div>
        @Html.Hidden("StudentId", Model.Id)
    </div>

    // Show the Current Iteration Number
    <div class="row">
        <span>Iteration Number:&nbsp;</span><span id="IterationNumber"></span>
    </div>

    // Show the Current Refresh Data
    <div class="row">
        <span>Game Data:&nbsp;</span><span id="GameData"></span>
    </div>

    <br />
    <br />
    <br />

    <script src="~/Scripts/Game.js"></script>
}