@model _5051.Models.StudentModel
@{
    ViewBag.Title = "Shop";
}
<div class="row"><br /></div>

<div class="row no-gutters">

    <div class="ImageBox" id="ImageBox">
        @{
        // StudentId needs to be in the Dom
        <div>
            @Html.Hidden("StudentId", Model.Id)
        </div>

        <div class="ScoreBoardBox">
            <div class="StudentNavBar">
                <div class="row">
                    <div class="col">
                        Lvl &nbsp;<span id="levelValue">@Model.AvatarLevel</span>
                    </div>
                    <div class="col">
                        <span id="ExperienceValue">@Model.ExperiencePoints</span>&nbsp; XP
                    </div>
                    <div class="col">
                        <span id="TokensValue">@Model.Tokens</span>&nbsp; Tokens
                    </div>
                    <div class="col">
                        <span>Customers:</span>&nbsp;<span id="CustomersValue">10</span>
                    </div>
                    <div class="col">
                        <span id="StoreStatus"></span>
                    </div>
                    @*<div class="col">
            <span>Iteration Number:&nbsp;</span><span id="IterationNumber"></span>
        </div>*@
                </div>
            </div>
        </div>

        <div class="FeedBox">
            <div class="dropdown-content">
                <div class="ScoreBoardHeader">
                    <a href="#">
                        <span>Game Data:&nbsp;</span>
                    </a>
                </div>
                <a href="#">
                    <span id="TransactionList"></span>
                </a>
            </div>
        </div>
        <div class="GameButtonsBox">
            <div class="row">
                @*&nbsp;&nbsp;*@
                @Html.ActionLink("Factory", "Factory", "Shop", new { id = Model.Id }, new { @class = "btn1" })

                @{
                //&nbsp; &nbsp;
                //@Html.ActionLink("Celebrity Poster", "CelebrityPoster", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })
                }
            </div>
            <div class="row">
                @*&nbsp;&nbsp;*@
                @Html.ActionLink("Truck Inventory", "Inventory", "Shop", new { id = Model.Id }, new { @class = "btn1" })
            </div>
            <div class="row">
                @*&nbsp;&nbsp;*@
                @Html.ActionLink("Edit Truck", "Edit", "Shop", new { id = Model.Id }, new { @class = "btn1" })
            </div>
        </div>
        <div class="AvatarImageBox">

        </div>
        }

        <div class="BackgroundBox">
            <img class="BackgroundItem" id="Background" src="~/Content/shop/placeholder.png" alt="Background">
        </div>

        <div class="TopperBox">
            <img class="TopperItem" id="Topper" src="~/Content/shop/placeholder.png" alt="Topper">
        </div>

        <div class="SignBox">
            <img class="SignItem" id="Sign" src="~/Content/shop/placeholder.png" alt="Sign">
        </div>

        <div class="TruckBox">
            <img class="TruckItem" id="Truck" src="~/Content/shop/placeholder.png" alt="Truck">
        </div>

        <div class="MenuBox">
            <img class="MenuItem" id="Menu" src="~/Content/shop/placeholder.png" alt="Menu">
        </div>

        <div class="WheelsBox">
            <img class="WheelsItem" id="Wheels" src="~/Content/shop/placeholder.png" alt="Wheels">
        </div>

        <div class="TrailerBox">
            <img class="TrailerItem" id="Trailer" src="~/Content/shop/placeholder.png" alt="Trailer">
        </div>

        <div class="TruckClosedSignBox">
            <img class="TruckClosedSignItem" id="TruckClosedSign" src="~/Content/shop/placeholder.png" alt="Trailer">
        </div>

        <div class="TruckInsideBox">
            <img class="TruckInsideItem" id="TruckInside" src="~/Content/shop/placeholder.png" alt="Trailer">
        </div>

        <div class="PeopleBox" id="PeopleBox">
            <img class="PeopleItem" id="PeopleItem" src="~/Content/shop/placeholder.png" alt="Shopper">
        </div>

        <div class="WorkerBox" id="WorkerBox">
            <img class="WorkerItem" id="Worker" src="~/Content/shop/placeholder.png" alt="Worker">
        </div>

        <div class="WorkerBoxLeft" id="WorkerBoxLeft"></div>
        <div class="WorkerBoxRight" id="WorkerBoxRight"></div>
    </div>
   
</div>

<script src="~/Scripts/Game.js"></script>
<script src="~/Scripts/People.js"></script>
