@model _5051.Models.StudentModel
@{
    ViewBag.Title = "Shop";
}
<br />
<h2>Welcome to the Store</h2>

<h3>Spend your Tokens on items at the store</h3>

<br />

<div class="ImageBox">

    <div class="TopperBox">
        <img class="TopperItem" id="Topper" src="~/Content/shop/placeholder.png" alt="Topper">
    </div>

    <div class="SignBox">
        <img class="SignItem" id="Sign" src="~/Content/shop/placeholder.png" alt="Sign">
    </div>

    <div class="TruckBox">
        <img class="TruckItem" id="Truck" src="~/Content/shop/placeholder.png" alt="Truck">
    </div>

    <div class="MenuBox">
        <img class="MenuItem" id="Menu" src="~/Content/shop/placeholder.png" alt="Menu">
    </div>

    <div class="WheelsBox">
        <img class="WheelsItem" id="Wheels" src="~/Content/shop/placeholder.png" alt="Wheels">
    </div>

    <div class="TrailerBox">
        <img class="TrailerItem" id="Trailer" src="~/Content/shop/placeholder.png" alt="Trailer">
    </div>

</div>


<style>

    .ImageBox {
        position: relative;
        width: 1000px;
        height: 500px;
    }

    .TopperBox {
        position: absolute;
        padding-left: 460px;
        z-index: 2;
    }

    .TruckBox {
        position: absolute;
        padding-top: 78px;
        padding-left: 110px;
        z-index: 1;
    }

    .MenuBox {
        position: absolute;
        padding-top: 103px;
        padding-left: 660px;
        z-index: 3;
    }

    .SignBox {
        position: absolute;
        padding-top: 368px;
        z-index: 5;
    }

    .WheelsBox {
        position: absolute;
        padding-top: 358px;
        padding-left: 150px;
        z-index: 4;
    }

    .TrailerBox {
        position: absolute;
        padding-top: 268px;
        padding-left: 865px;
        z-index: 2;
    }


    .TopperItem {
        width: 100px;
        height: auto;
    }

    .TruckItem {
        width: 835px;
        height: auto;
    }

    .MenuItem {
        width: 100px;
        height: auto;
    }

    .SignItem {
        width: 100px;
        height: 100px;
    }

    .WheelsItem {
        width: 1000px;
        height: auto;
    }

    .TrailerItem {
        width: 310px;
        height: auto;
    }
</style>


@Html.ActionLink("Factory", "Factory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

&nbsp;&nbsp;
@Html.ActionLink("Truck Inventory", "Inventory", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

&nbsp;&nbsp;
@Html.ActionLink("Edit Truck", "Edit", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })

&nbsp;&nbsp;
@Html.ActionLink("Celebrity Poster", "CelebrityPoster", "Shop", new { id = Model.Id }, new { @class = "btn btn-primary" })


@{
    // Game Engine Code block

    // Put the Student ID into the Dom, so the Game engine can find it
    <div>
        @Html.Hidden("StudentId", Model.Id)
    </div>

    // Show the Current Iteration Number
    <div class="row">
        <span>Iteration Number:&nbsp;</span><span id="IterationNumber"></span>
    </div>

    // Show the Current Refresh Data
    <div class="row">
        <span>Game Data:&nbsp;</span><span id="GameData"></span>
    </div>

    <br />
    <br />
    <br />

    <script src="~/Scripts/Game.js"></script>
}