@model List<_5051.Models.StudentModel>
@{
    // Temporary using the Student Model, until the list of Student Shops can be sent down
    ViewBag.Title = "Visit";

}

<br />
<div class="row justify-content-center">
    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <br />
        <div class="FontSizeLarge text-center">
            <span class="FontSizeLarger FontBold" id="PageTitle">Please pick one shop to visit</span>
        </div>
        <br />
    </div>
    <div class="col-1"></div>
</div>

<div class="row">
    <br />
</div>

<div class="row justify-content-center">

    <div class="col-1 "></div>
    <div class="col lightTransparentBox">
        <div class="row justify-content-center mb-3">
            <div class="FontSizeMedium FontBold">Leaderboard</div>
        </div>

        <div class="row justify-content-center">
            <div class="col-2"></div>
            <div class="col-2 FontSizeSmall FontBold">
                Place
            </div>
            <div class="col-3 FontSizeSmall FontBold">
                Name
            </div>
            <div class="col-3 FontSizeSmall FontBold">
                Profit
            </div>
        </div>


        @{
            var student = Model[0];
            var count = 0;

            IEnumerable<_5051.Models.LeaderBoardModel> query = student.Truck.LeaderBoard.OrderByDescending(x => x.Profit);

            foreach (var element in query)
            {
                <div class="row justify-content-center">
                    <div class="col-2"></div>
                    <div class="col-2 FontSizeSmall">
                        @(count + 1)
                    </div>
                    <div class="col-3 FontSizeSmall">
                        @element.Name
                    </div>
                    <div class="col-3 FontSizeSmall">
                        @element.Profit
                    </div>
                </div>
            }

            @*for (int i = 0; i < student.Truck.LeaderBoard.Count; i++)
            {
                <div class="row justify-content-center">
                    <div class="col-2"></div>
                    <div class="col-2 FontSizeSmall">
                        @(i + 1)
                    </div>
                    <div class="col-3 FontSizeSmall">
                        @student.Truck.LeaderBoard[i].Name
                    </div>
                    <div class="col-3 FontSizeSmall">
                        @student.Truck.LeaderBoard[i].Profit
                    </div>
                </div>
            }*@
        }

    </div>
    <div class="col-1"></div>
</div>
<br />

<div class="row justify-content-around">
    <div class="col-1"></div>
    <div class="col">
        <div class="row justify-content-around" id="AllTrucks">

            @{
                foreach (var item in Model)
                {

                    <div class="col-sm-3 lightTransparentBox BoxWithHighlightHover DispalyBoxWithMargin">
                        <div class="TruckBoxMedium">
                            <a href="/Shop/VisitShop/@ViewBag.StudentId/@item.Id">
                                <img class="TruckItemBase TopperItem" id="Topper" src="~/Content/shop/@item.Truck.TopperUri" alt="Topper">
                                <img class="TruckItemBase SignItem" id="Sign" src="~/Content/shop/@item.Truck.SignUri" alt="Sign">
                                <img class="TruckItemBase TruckItem" id="Truck" src="~/Content/shop/@item.Truck.TruckUri" alt="Truck">
                                <img class="TruckItemBase MenuItem" id="Menu" src="~/Content/shop/@item.Truck.MenuUri" alt="Menu">
                                <img class="TruckItemBase TruckItemBase WheelsItem" id="Wheels" src="~/Content/shop/@item.Truck.WheelsUri" alt="Wheels">
                                <img class="TruckItemBase TrailerItem" id="Trailer" src="~/Content/shop/@item.Truck.TrailerUri" alt="Trailer">
                                <img class="TruckItemBase TruckInsideItem" id="TruckInside" src="~/Content/shop/TruckInside.png" alt="TruckInside">
                                @if (item.Truck.IsClosed == true)
                                {
                                    <img class="TruckItemBase TruckClosedSignItem" id="TruckClosedSign" src="~/Content/shop/ClosedSign.png" alt="closed">
                                }
                            </a>

                        </div>
                        <div class="row justify-content-around">
                            <span class="col FontSizeMedium FontBold text-center">
                                @item.Name
                            </span>
                        </div>
                    </div>
                }
            }
            <br />
        </div>
    </div>
    <div class="col-1"></div>
</div>
