@model _5051.Models.GameModel
@{
    ViewBag.Title = "Update";

}

<div class="container">
    <br />
    <h2>Game Settings</h2>
    <br />
    <div class="container">
        @{
            if (Model == null)
            {
                <p>No Data</p>
            }
            else
            {
                <div class="row">

                    <br />
                    <br />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="row">
                            <div class="col-sm-3 text-right">
                                @Html.DisplayNameFor(m => m.Enabled)
                            </div>
                            <div class="col-sm-4">
                                @Html.EditorFor(m => m.Enabled)
                                @Html.ValidationMessageFor(m => m.Enabled)
                            </div>
                        </div>

                        <br />
                        <br />

                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-4">
                                @Html.ActionLink("Back", "Read", new { Controller = "GameSettings" }, new { @class = "btn btn-success", id="BackButton" })
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" value="Update" class="btn btn-primary" id="Submit">
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>
