@using _5051.Models
@model List<SchoolCalendarModel>
@{
    ViewBag.Title = "Calendar";
    var FirstDay = Model.First().Date;
    var LastDay = Model.Last().Date;

    //Get the First and last month, and set the dates to the first of those months.
    var dateStart = DateTime.Parse(Model.First().Date.Month.ToString() + "/01/" + Model.First().Date.Year.ToString());

    // Go to the month after the last date
    var dateEnd = DateTime.Parse((Model.Last().Date.Month + 1).ToString() + "/01/" + Model.Last().Date.Year.ToString());
    dateEnd.AddDays(-1); // Back up 1 day to be the last day of the month

    // Make a list of each month of the year, will be easier to output the months and the school info per month
    List<List<SchoolCalendarModel>> Months = new List<List<SchoolCalendarModel>>();

    DateTime currentDate = new DateTime();

    //// Don't go beyond today
    //if (dateEnd.CompareTo(DateTime.UtcNow) > 0)
    //{
    //    dateEnd = DateTime.UtcNow;
    //}

    currentDate = dateStart;

    // For every day from the start of the school year, until the end of the school year or now...
    while (currentDate.CompareTo(dateEnd) < 0)
    {
        if (currentDate.Day == 1)
        {

            var temp = Model.Where(m => m.Date.Month == currentDate.Month).ToList();
            Months.Add(temp);
        }

        currentDate = currentDate.AddDays(1);
    }

}

<h2>Welcome to School Calendar</h2>
<br />
<h4>Highlighted days are school days</h4>
<br />
<h4>Early dismissal every Wendsday</h4>


<h4>First Day of School is @FirstDay.ToString("MMMM dd, yyyy")</h4>
<h4>Most Recend Day is @LastDay.ToString("MMMM dd, yyyy")</h4>

<br />
<hr />

<div class="row">
    @{
        foreach (var MonthItem in Months)
        {
            <div class="col-sm-4 CalendarBox" >

                <div class="row">
                    <h3>@MonthItem.First().Date.ToString("MMMM")</h3>
                    <br />
                </div>

                <div class="row text-center">
                    <table class="table table-bordered table-condensed table-fit table-striped">
                        <thead>
                            <tr class="text-center">
                                <th class="text-center">Mo</th>
                                <th class="text-center">Tu</th>
                                <th class="text-center">We</th>
                                <th class="text-center">Th</th>
                                <th class="text-center">Fr</th>
                                <th class="text-center">Sa</th>
                                <th class="text-center">Su</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int ColumnSpaceCount = 0;
                                var ColumnSpace = "<td/>";
                                foreach (var dayItem in MonthItem)
                                {
                                    var newRow = "<td>";
                                    var endRow = "</td>";

                                    if (dayItem.Date.DayOfWeek == DayOfWeek.Monday)
                                    {
                                        newRow = "<tr><td>";
                                    }

                                    if (dayItem.Date.DayOfWeek == DayOfWeek.Sunday)
                                    {
                                        endRow = "</td></tr>";
                                    }

                                    @Html.Raw(newRow)

                                    if (dayItem.Date.Day == 1)
                                    {
                                        // Catch up the number of columns, day of week 0 is sunday, so columns 1 - 6 + 0
                                        // Don't include the column to show, so just the previous columns
                                        DayOfWeek today = dayItem.Date.DayOfWeek;
                                        switch (today)
                                        {
                                            case DayOfWeek.Monday:
                                                //nothing
                                                ColumnSpaceCount = 0;
                                                break;

                                            case DayOfWeek.Tuesday:
                                                ColumnSpaceCount = 1;
                                                break;

                                            case DayOfWeek.Wednesday:
                                                ColumnSpaceCount = 2;
                                                break;

                                            case DayOfWeek.Thursday:
                                                ColumnSpaceCount = 3;
                                                break;

                                            case DayOfWeek.Friday:
                                                ColumnSpaceCount = 4;
                                                break;

                                            case DayOfWeek.Saturday:
                                                ColumnSpaceCount = 5;
                                                break;

                                            case DayOfWeek.Sunday:
                                                ColumnSpaceCount = 6;
                                                break;
                                        }
                                        for (var i = 0; i < ColumnSpaceCount; i++)
                                        {
                                            @Html.Raw(ColumnSpace)
                                        }
                                    }

                                    // Output this date
                            <div>
                                @{
                                    var buttonClass = "btn btn-default";

                                    if (dayItem.Modified == true)
                                    {
                                        buttonClass = "btn btn-success";
                                    }
                                }
                                @Html.ActionLink(dayItem.Date.Day.ToString(), "Edit", new { id = dayItem.Id }, new { @class = buttonClass })
                            </div>
                                    @Html.Raw(endRow)
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    }

</div>




<br />
<br />

@Html.ActionLink("Edit Days", "Edit", "Calendar", new { @class = "btn btn-primary" })

<br />

<br />
