@using _5051.Models
@model List<SchoolCalendarModel>
@{
    ViewBag.Title = "Calendar";
    var FirstDay = Model.First().Date;
    var LastDay = Model.Last().Date;

    //Get the First and last month, and set the dates to the first of those months.
    var dateStart = DateTime.Parse(Model.First().Date.Month.ToString() + "/01/" + Model.First().Date.Year.ToString());

    // Go to the month after the last date
    var dateEnd = DateTime.Parse((Model.Last().Date.Month + 1).ToString() + "/01/" + Model.Last().Date.Year.ToString());
    dateEnd.AddDays(-1); // Back up 1 day to be the last day of the month

    // Make a list of each month of the year, will be easier to output the months and the school info per month
    List<List<SchoolCalendarModel>> Months = new List<List<SchoolCalendarModel>>();

    DateTime currentDate = new DateTime();

    //// Don't go beyond today
    //if (dateEnd.CompareTo(DateTime.UtcNow) > 0)
    //{
    //    dateEnd = DateTime.UtcNow;
    //}

    currentDate = dateStart;

    // For every day from the start of the school year, until the end of the school year or now...
    while (currentDate.CompareTo(dateEnd) < 0)
    {
        if (currentDate.Day == 1)
        {

            var temp = Model.Where(m => m.Date.Month == currentDate.Month).ToList();
            Months.Add(temp);
        }

        currentDate = currentDate.AddDays(1);
    }

}

<h2>Welcome to School Calendar</h2>
<br />
<h4>Highlighted days are school days</h4>
<br />
<h4>Early dismissal every Wendsday</h4>


<h4>First Day of School is @FirstDay.ToString("MMMM dd, yyyy")</h4>
<h4>Most Recend Day is @LastDay.ToString("MMMM dd, yyyy")</h4>

<br />
<hr />

<div class="row">
    @{
        foreach (var MonthItem in Months)
        {
            <div class="col-sm-3" style="height:250px">

                <div class="row">
                    @MonthItem.First().Date.ToString("MMMM")<br />
                </div>

                <div class="row text-center">
                    <table class="table table-bordered table-condensed table-fit table-striped">
                        <thead>
                            <tr>
                                <th>Mo</th>
                                <th>Tu</th>
                                <th>We</th>
                                <th>Th</th>
                                <th>Fr</th>
                                <th>Sa</th>
                                <th>Su</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var ColumnSpace = "<td/>";
                                foreach (var dayItem in MonthItem)
                                {
                                    var newRow = "";
                                    var endRow = "";

                                    if (dayItem.Date.DayOfWeek == DayOfWeek.Monday)
                                    {
                                        newRow = "<tr>";
                                    }

                                    if (dayItem.Date.DayOfWeek == DayOfWeek.Sunday)
                                    {
                                        endRow = "</tr>";
                                    }

                                    @Html.Raw(newRow)

                                    if (dayItem.Date.Day == 1)
                                    {
                                        // Catch up the number of columns, day of week 0 is sunday, so columns 1 - 6 + 0
                                        // Don't include the column to show, so just the previous columns
                                        DayOfWeek today = dayItem.Date.DayOfWeek;
                                        switch (today)
                                        {
                                            case DayOfWeek.Monday:
                                                //nothing
                                                break;

                                            case DayOfWeek.Tuesday:
                                                @Html.Raw(ColumnSpace)
                                                break;

                                            case DayOfWeek.Wednesday:
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                break;

                                            case DayOfWeek.Thursday:
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                break;

                                            case DayOfWeek.Friday:
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                break;

                                            case DayOfWeek.Saturday:
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                break;

                                            case DayOfWeek.Sunday:
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                @Html.Raw(ColumnSpace)
                                                break;
                                        }
                                    }

                                    // Output this date
                                <td>
                                    <div>
                                        @dayItem.Date.Day
                                    </div>
                                </td>
                                @Html.Raw(endRow)
                            }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
    }

</div>




<br />
<br />

@Html.ActionLink("Edit Days", "Edit", "Calendar", new { @class = "btn btn-primary" })

<br />

<br />
